mixin transfer-station(obj)
	+b.SECTION.transfer-station
		+e.inner
			+e.HEADER.header
				h2 Тарифы такси #{obj.tariff} на трансфер #{obj.from} на ЖД вокзалы.
				p Фиксированная цена такси из аэропорта «#{obj.from}» на ЖД вокзалы.
			+e.SECTION.item
				h3 
					span #{obj.from}
					span #{obj.to[0]}
				+e.B.price #{obj.price[0]}
					span &#8381;
				+e.A.link(href='#{obj.link[0]}') Заказать трансфер
