mixin tariffs(data)
	+b.SECTION.tariffs
		+e.inner
			//- - var items = ['Эконом', 'Комфорт', 'Универсал','Бизнес','Минивэн','Микроавтобус']
			//- - var mods = ['econom', 'comfort', 'universal','biznes','miniven','microbus']
			//- - var price = [[350,8,24],[370,9,20],[420,10,19],[444,4,44],[555,5,55],[656,6,67]]
			if data.mod === 'index'
				+e.UL.list
					each item, index in data.tariffs
						if index === 0
							+e.LI.item._active.tariff-toggle(data-name= '#{item.name}') #{item.name}
						else
							+e.LI.item.tariff-toggle(data-name= '#{item.name}') #{item.name}
				+e.wrapper
					- var tariffs = data.tariffs
					- for(var i = 0; i < tariffs.length; i++)
						+b.SECTION(class="tariff-item_#{tariffs[i].mod} _#{i==0 ? 'active' : ''}").tariff-item-toggle(data-name= '#{tariffs[i].name}')
								+e.inner
									+e.left-col
										+e.H2.title
											| Тариф "#{tariffs[i].name}"
										p Такси эконом - комфорт и фиксированный тариф в любую точку города.
											|Имея многолетний опыт в сфере транспортных перевозок, такси эконом Москва разработала свою отлаженную систему работы.
										p Наша цель – это безопасная и комфортная поездка клиента. Именно поэтому мы тщательно подходим к подбору сотрудников в нашу службу такси.
									+e.right-col
										+e.UL.list
											+e.LI.item._min-price
												span Минимальная цена
												b #{tariffs[i].price[0]} &#8381;
											+e.LI.item._min-race
												span Минимальная поездка
												b #{tariffs[i].price[1]} км
											+e.LI.item._drive-more
												span Далее за километр
												b #{tariffs[i].price[2]} &#8381;
										+e.A.link(href='#') Подробнее
