mixin tariffs(data)
	+b.SECTION.tariffs
		+e.inner.center
			+e.UL.list
				each item, index in data.tariffs
					+e.LI(class="__item #{i==0 ? '_active' : ''} tariff-toggle" data-name="#{item.name}") #{item.name}
			+e.wrapper
				- var tariffs = data.tariffs
				- for(var i = 0; i < tariffs.length; i++)
						+b.SECTION(class="tariff-item_#{tariffs[i].mod} #{i==0 ? '_active' : ''} tariff-item-toggle" data-name="#{tariffs[i].name}")
							+e.inner
								+e.left-col
									+e.H2.title
										| Тариф "#{tariffs[i].name}"
									p #{tariffs[i].text}
								+e.right-col
									+e.UL.list
										+e.LI.item._min-price
											span Минимальная цена
											b #{tariffs[i].price[0]} &#8381;
										+e.LI.item._min-race
											span Минимальная поездка
											b #{tariffs[i].price[1]} км
										+e.LI.item._drive-more
											span Далее за километр
											b #{tariffs[i].price[2]} &#8381;
									+e.A.link(href='#') Подробнее
