include ../../promo/promo
//- include ../../tariffs/tariffs
//- include ../../tariff-inner/tariff-inner
include ../../town-regions-prices/town-regions-prices
include ../../transfer-airport/transfer-airport
include ../../transfer-station/transfer-station
include ../../services/services
include ../../reviews/reviews
include ../../advantages/advantages
mixin main()
	+b.MAIN.page-content
		+e.inner
			+promo
			+b.SECTION.tariff-page
				+e.inner._econom.center
					+e.UL.list
						+e.LI.item._min-price
							span Минимальная цена
							b #{data.tariffs[0].price[0]} &#8381;
						+e.LI.item._min-race
							span Минимальная поездка
							b #{data.tariffs[0].price[1]} км
						+e.LI.item._drive-more
							span Далее за километр
							b #{data.tariffs[0].price[2]} &#8381;
					+e.H2.title Тариф "#{data.tariffs[0].name}"
					p #{data.tariffs[0].text}
			+town-regions-prices(data)
			+transfer-airport({tariff:'Эконом',
												from:'Домодедово',
												to:['Шереметьево','Внуково'],
												price:[1600,1400],
												link:['link1.html','link2.html']
												})
			+transfer-station({tariff:'Эконом',
												from:'Домодедово',
												to:['Шереметьево','Внуково'],
												price:[1600,1400],
												link:['link1.html','link2.html']
												})
			.center Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, fuga debitis minima repellat eveniet aperiam aliquam eaque quasi magni. Id, ipsam magni non ex optio, debitis dolorum maiores cum sit deserunt unde. Est ducimus impedit beatae fuga qui dignissimos. Asperiores incidunt animi praesentium nisi ducimus magnam corrupti vero deserunt repudiandae quis, nesciunt alias itaque voluptatem quae perferendis numquam suscipit quidem cupiditate labore illo, magni. Quos tempore optio laborum doloremque nesciunt facere esse officiis nemo ipsum. Officia saepe itaque, ut soluta cupiditate sequi aut nemo, corporis, commodi placeat dolores in. Nihil doloremque nulla nostrum consequatur vel modi velit, explicabo perspiciatis, atque nesciunt ducimus, tempore, facilis sint pariatur. Esse numquam asperiores vel consequuntur. Laudantium, rerum, autem veniam obcaecati optio similique officiis quam ea tempora incidunt deserunt ad, distinctio perspiciatis nostrum quis voluptatum quas at, deleniti. Distinctio eligendi impedit, fugit laboriosam incidunt ab cumque in natus voluptates nam aperiam illum quia facilis explicabo earum reiciendis excepturi dolore saepe beatae temporibus sequi architecto ad cum fuga. Aliquam nisi fugit esse animi mollitia, consequuntur reprehenderit enim, consectetur rerum tenetur velit magni itaque expedita porro quisquam assumenda quia culpa commodi. Ut eaque fugiat, rem eligendi corporis atque voluptate quod nihil consequatur, iure quas harum porro nam blanditiis ex doloremque natus voluptates illo maiores neque cupiditate. Rerum iste minima eius eligendi voluptatibus esse aspernatur vel at ullam, minus saepe voluptatem labore nesciunt commodi qui deserunt voluptate fuga quasi iusto modi quaerat tenetur maxime nisi, cupiditate adipisci? Perferendis, excepturi ducimus optio doloremque sapiente, laboriosam dolores quod rerum tenetur veritatis aspernatur magnam aperiam, laudantium ab quaerat minima modi adipisci ipsa voluptate, hic vero ipsam error id ipsum! Aspernatur optio quas eos itaque quae laboriosam dolorem atque, quos id reiciendis repellendus, at provident quia incidunt dicta sed porro deleniti necessitatibus in alias ullam tenetur a voluptas. Odit perspiciatis blanditiis molestiae officiis et sed ab tempora quae voluptas delectus, omnis at, quo quibusdam perferendis fugiat veniam quia optio facere, quam culpa quidem! Assumenda impedit dolorem illo accusamus excepturi ea nulla molestiae repellat, laudantium consectetur dignissimos a iusto ratione natus voluptatibus eveniet voluptate, sint fuga sed ipsa aut necessitatibus asperiores repudiandae expedita. Odit excepturi, quam dicta veritatis culpa harum, libero nostrum id nisi, officiis numquam et facilis qui nesciunt aspernatur reprehenderit reiciendis praesentium provident. Ducimus itaque ipsa cupiditate fuga obcaecati iusto, inventore tenetur nesciunt molestiae aliquid labore laborum exercitationem veritatis. Tempore quisquam ipsum nesciunt fuga nihil praesentium, sint dignissimos neque totam vero placeat eum dolor. Sunt, eveniet iure corporis. Voluptatum obcaecati iusto quo dolorem deserunt, fugiat maiores nemo incidunt molestias, dolorum eligendi modi odio neque illum perferendis, eaque atque rerum. Magnam veniam nisi culpa necessitatibus, debitis eaque expedita enim quaerat, eos sint nihil repudiandae velit quisquam perspiciatis perferendis in! Earum, harum temporibus molestiae, hic aliquid ad. Cum quo, nisi dicta voluptatibus animi, atque iusto tempore nesciunt aliquid voluptate eveniet autem saepe. Ad inventore, ipsum illum dicta quod sapiente, repellat ab voluptates atque molestias aspernatur eius ullam blanditiis veritatis hic quasi. Tempora eos unde qui quae quia cumque, dicta sunt ab omnis eaque dolorum possimus at fugiat quas nisi reiciendis consequuntur architecto! Reiciendis dolor pariatur nisi autem perferendis dolorem minus inventore ut, voluptate vitae labore iusto suscipit quisquam accusamus eos itaque quos asperiores ipsam, corporis, consectetur numquam possimus blanditiis fugiat doloribus. Fugiat quam, cupiditate nam nostrum aut eligendi quo laboriosam necessitatibus vero officia, quaerat, architecto, praesentium consequuntur. Numquam, eum, id? Asperiores nemo, sit, enim obcaecati sapiente nostrum dolor officiis repellendus qui quis vitae, impedit et esse blanditiis in repudiandae voluptas reiciendis eveniet rerum veritatis excepturi, facere possimus cum necessitatibus ipsum. Unde molestiae fugiat, aut sunt repellendus, impedit. Molestiae voluptatem iure maiores autem natus dolores voluptates, sed amet delectus asperiores vero vel, eius itaque cum dolore, error rerum! Qui velit, dolore magni, architecto cupiditate fugiat, odio aut vero labore, error facilis. Natus dolorum est beatae! Explicabo ea alias, inventore perferendis similique nisi tenetur nesciunt, aut quaerat deserunt suscipit recusandae illo autem velit animi nulla eius ut, eligendi numquam amet non harum? Voluptatum alias placeat temporibus repellat odio voluptas, itaque adipisci qui et. Quo sequi consectetur blanditiis, quibusdam iusto ex dicta dolorum neque odit corporis fugit explicabo sit, aliquam odio magni, culpa quos. Laboriosam aliquam expedita consectetur ipsam, perspiciatis modi repellat quis quo ex natus.
			+services
			+reviews
			+advantages
